:root {
  --height: 300px;
  --width: 400px;
}
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
* {
  font-size: 300px;
  line-height: 300px;
  background-color: black;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  /* font-family: "Orbitron"; */
  font-weight: bold;
  box-sizing: border-box;
  margin: 0;
}
.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.content {
  width: 100%;
  height: var(--height);
  display: flex;
  gap: 100px;
}
.hour,
.minute,
.second {
  display: flex;
  width: 400px;
  height: 100%;
}
.flip-card {
  perspective: 1000px;
  width: 100%;
  height: 100%;
}

.flip-card-front,
.flip-card-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 10px;
  border: black 5px solid;
  background-color: white;
}
.flip-card-front {
  height: 100%;
  overflow: hidden;
}
.flip-card-back {
  height: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotateX(-180deg);
}

.lower {
  border: black 5px solid;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 0;
  overflow: hidden;
  height: 50%;
  width: 100%;
  transform: translateY(calc(var(--height) / 2));
  line-height: 0px;
}
.main {
  border: black 5px solid;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 0;
  height: 50%;
  overflow: hidden;
  width: 100%;
}

/* Call Animation */
.flip-card-inner {
  z-index: 100;
  position: relative;
  width: 100%;
  height: 50%;
  transform-style: preserve-3d;
  transform-origin: calc(var(--height) / 2) calc(var(--height) / 2);
  will-change: transform;
}
/* .first-second .flip-card-inner {
  animation: first-second 10s normal linear infinite;
} */
/* .second-second .flip-card-inner {
  animation: flip 1s normal linear infinite;
} */
@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(-180deg);
  }
}
